:root {
  --base: #2fd3bb;
  --spacing: 10px;
  --blur: 0;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

/*
  misc styles, nothing to do with CSS variables
*/
html, body {
  font-size: 10px;
}

body {
  text-align: center;
  background: #fefefe;
  color: #193549;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  width: 800px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
}

h1 span {
  text-shadow: 0 0 2px black;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

label {
  font-size: 2.4rem;
}

input {
  width: 100px;
}

img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
